<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Edit <%= dog.name %></h1>
    <% if (messages) { %>
        <%for (let key in messages) { %>
            <%= messages[key] %>
        <% } %>
    <% } %>
    <form action="/dogs/<%= dog._id %>" method="POST">
        <p>Name: <input type="text" name="name" value="<%= dog.name %>"></p>
        <p>Breed: <input type="text" name="breed" value="<%= dog.breed %>"></p>
        <p>Age: <input type="text" name="age" value="<%= dog.age %>"></p>
        <button type="submit">Submit</button>
    </form>
</body>
</html>